@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root {
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
  --color-primary: #FBBF24;
  --color-secondary: #F59E0B;
  --color-neutral-light: #FAFAF9;
  --color-neutral-middle: #D4D4D4;
  --color-neutral-dark: #1C1917;
  --text-color-light: #1C1917;
  --text-color-dark: #FAFAF9;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--color-neutral-dark);
}

a {
  text-decoration: none;
  color: var(--text-color-light);
}

footer {
  grid-area: 3 / 2 / span 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--text-color-dark);
}

footer a {
  --color: var(--color-primary);
  color: var(--color);
  margin: 0 .2rem;
  position: relative;
  text-decoration: none;
}

footer a::after {
  content: '';
  position: absolute;
  bottom: -.1rem;
  left: 0;
  border-bottom: 1px solid var(--color);
  width: 100%;
  transition: .2s width;
  pointer-events: none;
}

footer a:hover::after,
footer a:focus::after {
  width: 0;
}

.container {
  --sidebar-width: 3rem;
  display: grid;
  grid-template: 1fr 1fr 2rem / var(--sidebar-width) 3fr minmax(24rem, 1fr);
  height: 100%;
}

.container *:focus {
  outline: 1px solid var(--color-secondary);
  border-radius: 2px;
}

.pop-up {
  --font-size: 1rem;
  position: absolute;
  font-size: var(--font-size);
  left: var(--left);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  height: calc(var(--font-size) + .5rem);
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding: 0 .5rem;
  display: flex;
  visibility: hidden;
  transition-delay: .3s;
  transition: 0 visibility;
  z-index: 2;
}

.sidebar {
  --padding: .5rem;
  --text-color: var(--text-color-light);
  --size: calc(var(--sidebar-width) - 2 * var(--padding));
  color: var(--text-color);
  background-color: var(--color-primary);
  padding: var(--padding);
  grid-row: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar .split {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
}

.sidebar .partition {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.sidebar .partition a {
  --border-radius: 4px;
  --left: var(--sidebar-width);
  --bg-color: var(--color-primary);
  width: var(--size);
  height: var(--size);
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: .1s background-color ease-in-out;
}

.sidebar .partition a::before {
  color: var(--text-color);
}

.sidebar .partition a:focus,
.sidebar .partition a:hover {
  --bg-color: var(--color-secondary);
}

.sidebar .partition a:hover .pop-up,
.sidebar .partition a:focus .pop-up {
  visibility: visible;
}

.avatar {
  height: var(--size);
  width: var(--size);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5rem;
}

.logo {
  --transition-time: .2s;
  --transition-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 0.1rem;
  z-index: 2;
  position: absolute;
  background-color: var(--color-primary);
  transition: var(--transition-time) background-color var(--transition-function);
}

.logo:hover {
  background-color: transparent;
}

.logo * {
  --displacement: 0;
  border-radius: 2px;
  background-color: var(--text-color);
  position: relative;
  transition: var(--transition-time) all var(--transition-function);
  pointer-events: none;
  opacity: 100%;
  visibility: visible;
}

.logo:hover * {
  --displacement: 2rem;
  opacity: 0;
  visibility: hidden;
}

.logo .one {
  grid-area: 1 / 1 / span 2 / span 1;
  bottom: var(--displacement);
  right: var(--displacement);
}

.logo .two {
  grid-area: 3 / 1 / span 1 / span 1;
  top: var(--displacement);
  right: var(--displacement);
}

.logo .three {
  grid-area: 1 / 2 / span 1 / span 1;
  bottom: var(--displacement);
  left: var(--displacement);
}

.logo .four {
  grid-area: 2 / 2 / span 2 / span 1;
  top: var(--displacement);
  left: var(--displacement);
}

.title {
  --text-color: var(--text-color-dark);
  padding: 1rem;
  margin: 0;
  position: sticky;
  top: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  z-index: 1;
  display: flex;
  align-items: center;
}

.title::before {
  padding-right: .5rem;
}

.projects {
  --bg-color: var(--color-neutral-dark);
  --text-color: var(--text-color-dark);
  grid-area: 1 / 2 / span 2 / span 1;
  display: grid;
  grid-template-rows: 4rem 1fr;
  overflow-y: auto;
  color: var(--text-color);
}

.projects .templates {
  --template-height: 12rem;
  padding: 1rem;
  display: grid;
  grid-template: repeat(auto-fill, var(--template-height)) / repeat(auto-fill, minmax(24rem, 1fr));
  gap: 2rem;
}

.projects .project-template {
  --padding-left: 2rem;
  --border-radius: 8px;
  background-color: var(--color-neutral-light);
  color: var(--text-color-light);
  padding: 1rem;
  padding-left: var(--padding-left);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  grid-template-columns: 1rem 1fr;
  position: relative;
}

.project-template::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(var(--padding-left) / 2);
  background-color: var(--color-primary);
  transition: .5s background-color;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.project-template:hover::before {
  background-color: var(--color-secondary);
}

.projects .project-title {
  margin: 0;
}

.project-description {
  --line-height: 1.2rem;
  overflow: clip;
  word-wrap: break-word;
  line-height: var(--line-height);
  height: calc(4 * var(--line-height));
  text-align: justify;
}

.projects .actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
  font-size: 1.2rem;
}

.project-template .actions a {
  --size: 2rem;
  --border-radius: 4px;
  --bg-color: var(--color-neutral-light);
  border-radius: var(--border-radius);
  height: var(--size);
  width: var(--size);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: .1s background-color ease-in-out;
}

.projects .actions a:hover,
.projects .actions a:focus {
  --bg-color: var(--color-primary);
}

.projects .actions .pop-up {
  position: absolute;
  justify-content: center;
  align-items: center;
  --top: calc(var(--size) + .5rem);
}

.projects .actions a:hover .pop-up,
.projects .actions a:focus .pop-up {
  visibility: visible;
}

.announcements,
.trending {
  display: grid;
  grid-template-rows: 4rem 1fr;
  overflow: hidden;
  box-sizing: border-box;
}

.announcements .templates,
.trending .templates {
  --text-color: var(--text-color-light);
  --bg-color: var(--color-neutral-light);
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
  padding: 1rem;
  gap: 2rem;
  overflow: auto;
}

.announcements .templates *,
.trending .templates * {
  margin: 0;
}

.announcement-template {
  --bg-color: var(--color-neutral-light);
  position: relative;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.announcement-template:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1rem;
  border-bottom: 1px solid var(--color-neutral-middle);
  width: 100%;
}

.announcements .announcement-description {
  --line-height: 1.2rem;
  overflow: clip;
  line-height: var(--line-height);
  height: calc(3 * var(--line-height));
  text-align: justify;
}

.trending-template {
  --border-radius: 8px;
  --size: 4rem;
  height: 4rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  display: grid;
  grid-template-columns: var(--size) 1fr;
  gap: 1rem;
}

.trending-avatar {
  grid-area: 1 / 1 / span 2 / span 1; 
}

.trending-title {
  grid-area: 1 / 2 / span 1 / span 1; 
}

.trending-description {
  grid-area: 2 / 2 / span 1 / span 1; 
}

.trending-template:focus,
.trending-template:hover {
  --bg-color: var(--color-neutral-middle);
  border-radius: var(--border-radius);
  outline: none;
}

.trending-template .avatar {
  border: 2px solid var(--color-primary);
}   
